.margen{
    margin-left: 68vh;
}
.boton{
    margin-left: 65px;
    font-size: 1.5rem ;
}
input{
    width: 250px;
    font-size: 1.5rem;
}
.titulo{
    margin-left: 58px;
}
h1{
    margin-left: 5px;
}